<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs'); %>
<body style="padding-top: 70px;">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%= brand.googleTagId %>"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <%- include('../partials/navigation.ejs'); %>
  <main class="content-wrap">
    <div class="video-wrap">
      <video poster="" playsinline autoplay muted loop>
          <source src="https://www.origincodeacademy.com/wp-content/uploads/2017/09/typing-of-codes-2833-1.mp4" type="video/mp4">
      </video>
    </div>
    <div class="content container">
      <h1>Welcome to Chewie</h1>
      </div>
  </main>
  <%- include('../partials/footer.ejs'); %>
</body>
</html>
